<!-- include header -->
<%- include('includes/_header.ejs') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <a href="/login">Login</a>
        <a href="/admin">Admin</a>
        <!-- Page header start -->
        <div class="page-title">
            <div class="row gutters">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <h5 class="title">Chat App</h5>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"></div>
            </div>
        </div>
        <!-- Page header end -->

        <!-- Content wrapper start -->
        <div class="content-wrapper">

            <!-- Row start -->
            <div class="row gutters">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                    <div class="card m-0">

                        <!-- Row start -->
                        <div class="row no-gutters">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                                <div class="users-container">
                                    <ul class="users">
                                        <% for(var i = 0; i < users.length; i++) { %>
                                            <a href="/messages/<%= users[i]._id %>" class="person" data-chat="person1">
                                                <div class="user">
                                                    <img src="https://www.bootdey.com/img/Content/avatar/avatar<%= i + 1 %>.png"
                                                         alt="Retail Admin">
                                                    <span class="status busy"></span>
                                                </div>
                                                <p class="name-time">
                                                    <span class="name"><%= users[i].name %></span>
                                                </p>
                                            </a>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                                <div class="form-group mt-3 mb-0">
                                    <ul id="messages"></ul>
                                    <form id="form" action="/api/messages" method="post">
                                        <input id="input" name="content" autocomplete="off"/>
                                        <button>Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

    </div>
</main>
<!-- .Main Site -->

<!-- include footer -->
<%- include('includes/_footer.ejs') %>
<!-- /include footer -->

<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();

    let messages = document.getElementById('messages');
    let form = document.getElementById('form');
    let input = document.getElementById('input');

    form.addEventListener('submit', async function (e) {
        e.preventDefault();

        let id = localStorage.getItem('userId');
        let content = input.value

        if (input.value) {
            socket.emit('chat message', {
                userId: id,
                content: content,
            });
        }

        input.value = ''
    });

    socket.on('chat message', function (msg) {
        let item = document.createElement('li');
        item.textContent = msg.content;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
    });
</script>