<!-- include header -->
<%- include('includes/_header.ejs') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> All users</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update User</h2>
            <span class="text-dark">Use the below form to update a user</span>
        </div>
        <form method="POST" id="update_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="hidden" name="id" value="<%= user._id %>">
                    <input type="text" name="name" id="name" value="<%= user.name %>" class="form-control" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" value="<%= user.email %>" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password" value="<%= user.password %>" class="form-control" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <div class="radio inline">
                        <input type="radio" name="gender" id="gender" class="form-control" value="Male"<%= user.gender == 'Male' ? 'checked' : '' %>>
                        <label for="gender" class="radio-label">Male</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" name="gender" id="gender2" class="form-control" value="Female"<%= user.gender == 'Female' ? 'checked' : '' %>>
                        <label for="gender2" class="radio-label">Female</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender">Status</label>
                    <div class="radio inline">
                        <input type="radio" name="status" id="status" class="form-control" value="Active"<%= user.status == 'Active' ? 'checked' : '' %>>
                        <label for="status" class="radio-label">Active</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" name="status" id="status2" class="form-control" value="Inactive"<%= user.status == 'Inactive' ? 'checked' : '' %>>
                        <label for="status2" class="radio-label">Inactive</label>
                    </div>
                </div>
        
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
            </div>
        </form>
    </div>
</main>
<!-- .Main Site -->

<!-- include footer -->
<%- include('includes/_footer.ejs') %>
<!-- /include footer -->